*{
    margin: 0;
    padding: 0;
}

.me-nav,.rewritme-nav{
    position: absolute;
    left: 154px;
    top:125px;
}

.me-nav li{
    list-style: none;
    float: left;
    font-size: 17px;
    margin-left: 256px;
}
.me-nav li a{
    text-decoration: none;
    color: #535151;
}

.me-nav .menow{
    border-bottom: 2px solid rgb(209, 223, 12);
  
}
.me-cent{
    width: 708px;
    overflow:hidden;
    height: 266px;
}
.me-centent,.rewritme-centent{
    border: 1px solid rgb(209, 223, 12);
    width: 1128px;
    height: 300px;
    margin-left: 98px;
    margin-top: 111px;
}
.me-img img,.rewritme-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.rewritme-img{
    margin-top: 243px;
    margin-left: 196px;
}
.me-img{
    margin-top: 50px;
    margin-left: 49px;
}
.rewritme-mess{
    margin-left:196px;
    margin-top: -241px;
    line-height: 69px;
}
.me-mess{
    margin-left: 221px;
    margin-top: -130px;
    line-height: 69px;
}
.me-mess span,.rewritme-mess span{
    color: #535151;
}
.me-centent .rewrit{
    text-decoration: none;
    background: rgb(209, 223, 12);
    border: none;
    width: 71px;
    height: 25px;
    border-radius: 5px;
    color: #ffff;
    display: inline-block;
    text-align: center;
    margin-left: 635px;
}
.me-right,.rewritme-right{
    position: absolute;
    
    right: 183px;
    top: 167px;
}
.me-right span,.rewritme-right span{
    font-size: 20px;
    color: #535151;
}
.rewritme-btn{
    margin-left: 474px;
    margin-top: -49px;
}
.rewritme-btn button{
    background: rgb(209, 223, 12);
    border: none;
    width: 71px;
    height: 33px;
    border-radius: 5px;
    color: #ffff;
}

.rewritme-mess input, .rewritme-mess select{
    border: 1px solid #d1cece;
    height: 30px;
}
