<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/cityxq.css">
    <link rel="stylesheet" href="/stylesheets/rest.css">
</head>

<body>
    <div class="bg" id="bgimg">
        <img src="/img/ggxqbg.jpg" >
    </div>
    <div class="bga" id="bgimga"></div>
    
    <div class="header">

        <div class="logo">
            <img src="/img/logo.png">
        </div>
        <div class="nav" id="nav">
            <ul>
                <li>
                    <a href="/home">首页</a>
                </li>
                <li>
                    <a href="/city" style="color: #00889a;">目的地</a>
                </li>
                <li>
                    <a href="/hotel">酒店</a>
                </li>
                <li>
                    <a href="/writdiscuss">游记</a>
                </li>
                <li>
                    <a href="/register">注册</a>
                </li>
                <li>
                    <a href="/login">登录</a>
                </li>
            </ul>
        </div>
        <div class="title">
            <h1>故宫竟然有这些</h1>
            <h2>不可思议的美景</h2>
            <hr>
        </div>
        <div class="info">
            <span>帝都包罗万有的景色自然少不了故宫，金黄的银杏与红色的宫墙，
                这就是紫禁城的秋天；博物馆不管去多少次，还是会掩藏不住地惊呼震撼。
            </span>
            <p>四季景观</p>
        </div>

    </div>
    <div class="centent">
        <div class="spring">
            <div class="sprtitle">
                <h1>春季篇.帝都赏花二十四景，寿康宫中两树梨</h1>
            </div>
            <hr>
            <div class="sprimg">
                <img src="/img/ggxqc.jpg">
            </div>
            <div class="sprinfo">
                <h1>帝都赏花二十四景，寿康宫中两树梨</h1>
                <span>
                    故宫博物院内寿康宫，花期三月底四月初。
                    寿康宫是紫禁城里著名的养老院，多位皇太后老太妃太嫔都在这里
                    度过了麻将养花看报纸的退休生活。因为此地偏居故宫内廷外西路，
                    反而游客很少，清静闲适，颇为符合寿康宫最初的功能设定。

                    不少导游总要在介绍此地时抱甄嬛传大腿，
                    虽然崇庆皇太后和嬛嬛没有半毛钱关系，
                    但是乾隆对他生母丧心病狂的孝敬之情足以在这里一见端倪。
                    2015年之后寿康宫恢复布展重新开放，
                    根据清宫归档原样陈设，保证每样器物都是皇太后曾经使用过的日常完美
                    还原。
                    这两株梨花是前清遗留，具体种植年代不可考，
                    不知崇庆皇太后当年是否也看着满树梨花发下这样的感慨，
                    我儿子真是太能花钱了。
                </span>
                <a href="/writdiscuss">
                    <img src="/img/pl.png">
                </a>
                <img src="/img/scq.png" class="start">
            </div>

        </div>

        <div class="spring" style="margin-top: 56px;">
            <div class="sprtitle" style="margin-left: 30px;">
                <h1>夏季篇.夏季的天坛到底可以有多酷</h1>
            </div>
            <hr style="margin-left: 147px;">
            <div class="sprimg">
                <img src="/img/ggxqx.jpg">
            </div>
            <div class="sprinfo">
                <h1>天坛到底可以有多酷</h1>
                <span>
                    1）天坛和故宫同岁，两年后都将迎来600周年纪念。
                    不过尽管年龄一样大，天坛面积是故宫的三倍多。

                    2）天坛里，天神最大。和故宫不同，天坛正中间的门和
                    道都是给供着神牌的宦官走的，皇帝只能屈尊走右侧的御道，
                    而王公大臣则只能走左侧的王道。

                    3）古代天坛里每年有两个重要的祭祀活动：
                    冬至日出前七刻在圜丘坛的祭天大典和正月在祈年殿的
                    祈祝丰年祭祀活动。
                    4）圜丘坛有内外两层遣墙，内墙圆，外墙方，象征着天圆地方的思想。
                    内墙内的圜丘有三层，正中心的天心石为皇帝与天对话的地方。
                    天心石向外每层石板数都是9的倍数，因为9是阳数（奇数）之最，
                    整个建筑都按9这个极阳数进行建造，反映对天至高至大。
                </span>
                <a href="/writdiscuss">
                    <img src="/img/pl.png">
                </a>
                <img src="/img/scq.png" class="start">
            </div>

        </div>

        <div class="spring" style="margin-top: 56px;">
            <div class="sprtitle" style="margin-left: -90px;">
                <h1>秋季篇.金黄色的银杏与红色的宫墙，这就是紫禁城的秋天</h1>
            </div>
            <hr style="margin-left: 145px;">
            <div class="sprimg">
                <img src="/img/ggxqq.jpg">
            </div>
            <div class="sprinfo">
                <h1>金黄色的银杏与红色的宫墙，这就是紫禁城的秋天——成外篇</h1>
                <span>
                    老舍说：“秋天一定要住北平。天堂是什么样子，
                    我不知道，但是从我的生活经验去判断，北平之秋便是天堂。”
                    北京的秋天是我的最爱，尤其爱那满城金黄的银杏树。皇城墙外，
                    护城河畔，一树树金黄色的银杏把庄严的皇室领域包围起来，
                    宁静上倒影着它们的颜色，角楼下映衬着它们摇曳的倒影，这是属于紫禁城的秋色。

                    故宫城墙外的银杏主要集中在神武门外护城河畔、东南角楼和西南角楼。
                    早上从天安门西地铁站下来，蹬了个小黄车到东华门，
                    从东华门往南到东南角楼一段的护城河畔有一排银杏，
                    配着九梁十八柱七十二脊的角楼拍照格外好

                </span>
                <a href="/writdiscuss">
                    <img src="/img/pl.png">
                </a>
                <img src="/img/scq.png" class="start">
            </div>

        </div>

        <div class="spring" style="margin-top: 56px;">
            <div class="sprtitle" style="margin-left: 18px;">
                <h1>冬季篇.下雪去故宫，经历一场穿越</h1>
            </div>
            <hr style="margin-left: 145px;">
            <div class="sprimg">
                <img src="/img/ggxqd.jpg">
            </div>
            <div class="sprinfo">
                <h1>下雪去故宫，经历一场穿越</h1>
                <span>
                    人人都说一下雪，北京就成了北平，故宫就成了紫禁城，这话对也不对。
                    不对的地方在于，紫禁城的那份宁静，现在是不可再得了，
                    尤其是雪中的故宫，那汹涌的人潮会把你吓呆；
                    但只要把镜头稍稍往上抬一点，那些雪影中的红墙黄瓦、五脊六兽，
                    刹那间能让人感触到时间的停滞与永恒。
                    如果有机会赶上故宫的雪，即使人多雪大地还超级滑，
                    一不小心还会鞋子湿透手也冻僵.尤其是雪中的故宫，那汹涌的人潮会把你吓呆；
                    但只要把镜头稍稍往上抬一点，那些雪影中的红墙黄瓦、五脊六兽，
                    刹那间能让人感触到时间的停滞与永恒。
                    如果有机会赶上故宫的

                </span>
                <a href="/writdiscuss">
                    <img src="/img/pl.png">
                </a>
                <img src="/img/scq.png" class="start">
            </div>

        </div>

    </div>
</body>
<script src="/javascripts/city.js"></script>
</html>