<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/home1.css">
    <link rel="stylesheet" href="/stylesheets/rest.css">
</head>

<body>
    <div class="header">
        <!-- 轮播图 -->

        <div class="container" id="container">
            <div class="lbone lbdiv">
                <div class="lbimg">
                    <img src="/img/sylb1.jpg">
                </div>
                <div class="title">
                    <span>像本地人一样生活</span>
                    <br>
                    <span>尝遍全球美食地道美味</span>
                    <br>
                    <span style="font-size: 18px; line-height: 70px;">
                        给味蕾一次快乐旅行，由美食了解当地文华
                    </span>
                </div>
            </div>
            <div class="lbtwo lbdiv">
                <div class="lbimg">
                    <img src="/img/sylb2.jpg">
                </div>
                <div class="title">
                    <span>用旅行为青春定格</span>
                    <br>
                    <span>领取礼券 畅玩盛夏</span>
                    <br>
                    <span style="font-size: 18px; line-height: 70px;">
                        今后一定会想起这段一起笑过，闹过的日子
                    </span>
                </div>
            </div>
            <div class="lbthree lbdiv">
                <div class="lbimg">
                    <img src="/img/sylb3.jpg">
                </div>
                <div class="title">
                    <span>阳台上看花火绚烂</span>
                    <br>
                    <span>沁凉日本夏日祭</span>
                    <br>
                    <span style="font-size: 18px; line-height: 70px;">
                        穿浴衣、逛屋台。体验地道日本夏夜风情
                    </span>
                </div>
            </div>
            <div class="lbfour lbdiv">
                <div class="lbimg">
                    <img src="/img/sylb2.jpg">
                </div>
                <div class="title">
                    <span>用旅行为青春定格</span>
                    <br>
                    <span>领取礼券 畅玩盛夏</span>
                    <br>
                    <span style="font-size: 18px; line-height: 70px;">
                        今后一定会想起这段一起笑过，闹过的日子
                    </span>
                </div>
            </div>
        </div>
        <!-- 轮播结束 -->
        <div class="seach">
            <img src="/img/logo.png">
            <div class="seachtext">
                <img src="/img/shousuo.png">
                <input type="text" placeholder="搜“阳朔”试试" id="ipchange">
            </div>

        </div>
        <div class="nav" id="nav">
            <ul>
                <li>
                    <a href="/home">首页</a>
                </li>
                <li>
                    <a href="/city">目的地</a>
                </li>
                <li>
                    <a href="/hotel">酒店</a>
                </li>
                <li>
                    <a href="/writdiscuss">游记</a>
                </li>
                <li>
                    <img src="/img/wode.png" id="me">
                    <ul class="meul" id="meul" style="display: none;">
                        <li class="meli">
                            <a href="/my">个人资料</a>
                        </li>
                        <li class="meli">
                            <a href="/writdiscuss">我的游记</a>
                        </li>
                        <li class="meli">
                            <a href="/login">登录</a>
                        </li>
                        <li class="meli">
                            <a href="/register">注册</a>
                        </li>
                        <li class="meli">
                            <a href="/loginout">退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


    </div>

    <div class="centent">
        <div>
            <div class="hotcity">
                <h1>热门目的地</h1>
            </div>
            <div class="hotnav">
                <ul id="hotul">
                    <li class="now">北京</li>
                    <li>上海</li>
                    <li>重庆</li>
                    <li>大理</li>
                    <li>台北</li>
                    <li>首尔</li>
                    <li>清迈</li>
                    <li>伦敦</li>
                </ul>
            </div>
            <div class="hotinfo">

                <div class="infotop">
                    <div class="cityimg">
                        <img src="/img/bjgg.jpg">
                    </div>
                    <div class="cityinfo">
                        <p class="name">故宫</p>
                        <p class="scenic">
                            北京市东城区景山前街4号
                            绝大多数刚来北京的游客，都会把故宫当作必去之处。
                        </p>

                        <p class="money">
                            ￥60元
                        </p>
                    </div>

                </div>
                <div class="infotop" style="margin-left: 355px;margin-top:-303px;">
                    <div class="cityimg">
                        <img src="/img/bjnlgx.jpg">
                    </div>
                    <div class="cityinfo">
                        <p class="name">南锣鼓巷</p>
                        <p class="scenic">
                            北京市东城区景山前街4号
                            绝大多数刚来北京的游客，都会把故宫当作必去之处。
                        </p>
                        <p class="money">
                            ￥60元
                        </p>
                    </div>

                </div>
                <div class="infotop" style="margin-left: 709px;margin-top:-303px;">
                    <div class="cityimg">
                        <img src="/img/bjtam.jpg">
                    </div>
                    <div class="cityinfo">
                        <p class="name">天安门广场</p>
                        <p class="scenic">
                            北京市东城区景山前街4号
                            绝大多数刚来北京的游客，都会把故宫当作必去之处。
                        </p>
                        <p class="money">
                            ￥60元
                        </p>
                    </div>

                </div>
                <div class="infotop" style="margin-top:31px;">
                    <div class="cityimg">
                        <img src="/img/bjyhy.jpg">
                    </div>
                    <div class="cityinfo">
                        <p class="name">颐和园</p>
                        <p class="scenic">
                            北京市东城区景山前街4号
                            绝大多数刚来北京的游客，都会把故宫当作必去之处。
                        </p>
                        <p class="money">
                            ￥60元
                        </p>
                    </div>

                </div>
                <div class="infotop" style="margin-left: 355px;margin-top:-303px;">
                    <div class="cityimg">
                        <img src="/img/bjymy.jpg">
                    </div>
                    <div class="cityinfo">
                        <p class="name">圆明园</p>
                        <p class="scenic">
                            北京市东城区景山前街4号
                            绝大多数刚来北京的游客，都会把故宫当作必去之处。
                        </p>
                        <p class="money">
                            ￥60元
                        </p>
                    </div>

                </div>
                <div class="infotop" style="margin-left: 709px;margin-top:-303px;">
                    <div class="cityimg">
                        <img src="/img/syrmbj.jpg">
                    </div>
                    <div class="cityinfo">
                        <p class="name">故宫</p>
                        <p class="scenic">
                            北京市东城区景山前街4号
                            绝大多数刚来北京的游客，都会把故宫当作必去之处。
                        </p>
                        <p class="money">
                            ￥60元
                        </p>
                    </div>

                </div>

            </div>

            <div class="hotmorez" style="display: none">
                <img src="/img/shouyezjt.png" alt="">
            </div>
            <div class="hotmorey">
                <img src="/img/shouyeyjt.png" alt="">
            </div>
        </div>

        <div>
            <div class="sunmerjx">
                <h1>夏日出行精选</h1>
            </div>
            <div class="jxinfo">
                <div class="jximg">
                    <img src="/img/xrcxjx1.jpg">
                </div>
                <div class="cityinfo" style="margin-left: 161px;">
                    <p class="name">东非自然之旅</p>
                    <p class="scenic">
                        去探险，见证东非动物大迁徙
                    </p>

                    <p class="money">
                        感受生命的自由壮阔，住进东非特色房源，全方位投入自然之中。
                    </p>
                </div>
            </div>
            <div class="jxinfo" style="margin-top: -313px; margin-left:358px;">
                <div class="jximg">
                    <img src="../img/xrcxjx2.jpg">
                </div>
                <div class="cityinfo" style="margin-left: 161px;">
                    <p class="name">日本夏日祭</p>
                    <p class="scenic">
                        推开窗，慢赏夏夜的绚烂花火
                    </p>

                    <p class="money">
                        穿浴衣，逛屋台，在河边吹晚风。在日本夏日祭的热闹中，等待花火绽放的夜空。
                    </p>
                </div>
            </div>
            <div class="jxinfo" style="margin-top: -313px; margin-left:715px;">
                <div class="jximg">
                    <img src="/img/xrcxjx3.jpg">
                </div>
                <div class="cityinfo" style="margin-left: 161px;">
                    <p class="name">全球美食城</p>
                    <p class="scenic">
                        常美味，寻访全球各地美食文化
                    </p>

                    <p class="money">
                        通过食物了解本地文化，给味蕾一次快乐旅行。
                    </p>
                </div>
            </div>
        </div>

        <div style="margin-top: 120px;">
            <div class="hotcity">
                <h1>夏季特惠酒店</h1>
            </div>
            <div class="hotnav">
                <ul id="hotull">
                    <li class="now">广州</li>
                    <li>上海</li>
                    <li>重庆</li>
                    <li>大理</li>
                    <li>台北</li>
                    <li>首尔</li>
                    <li>清迈</li>
                    <li>伦敦</li>
                </ul>
            </div>
            <div class="hotinfo">

                <div class="infotop">
                    <div class="cityimg">
                        <img src="/img/jiudgz1.jpg">
                    </div>
                    <div class="cityinfo">
                        <p class="name">【一间.One】</p>
                        <p class="scenic">
                            北京路地铁站.北京路步行街.粤海仰忠汇.极简风.大屏影院.落地风情.情侣朋友1-2人
                        </p>

                        <p class="money">
                            ￥295元
                        </p>
                    </div>

                </div>
                <div class="infotop" style="margin-left: 355px;margin-top:-303px;">
                    <div class="cityimg">
                        <img src="/img/jiudgu2.jpg">
                    </div>
                    <div class="cityinfo">
                        <p class="name">【千纸鹤】</p>
                        <p class="scenic">
                            北京路地铁站.夜游珠江/天字码头.
                            圣心大教堂.西关美食.毗邻省人民医院

                        </p>
                        <p class="money">
                            ￥279元
                        </p>
                    </div>

                </div>
                <div class="infotop" style="margin-left: 709px;margin-top:-303px;">
                    <div class="cityimg">
                        <img src="/img/jiudgz3.jpg">
                    </div>
                    <div class="cityinfo">
                        <p class="name">【重点推荐】</p>
                        <p class="scenic">
                            北京路/上下九/海珠广场/公园前/地铁口200米/轻奢高级高层投影套房
                        </p>
                        <p class="money">
                            ￥374元
                        </p>
                    </div>

                </div>
                <div class="infotop" style="margin-top:31px;">
                    <div class="cityimg">
                        <img src="/img/jiudgz4.jpg">
                    </div>
                    <div class="cityinfo">
                        <p class="name">【Nomad's玻璃房】</p>
                        <p class="scenic">
                            北京路地铁站.北京路步行街
                        </p>
                        <p class="money">
                            ￥417元
                        </p>
                    </div>

                </div>
                <div class="infotop" style="margin-left: 355px;margin-top:-282px;">
                    <div class="cityimg">
                        <img src="/img/jiudgz5.jpg">
                    </div>
                    <div class="cityinfo">
                        <p class="name">【旧时光】</p>
                        <p class="scenic">
                            北京路旁|公园前

                        </p>
                        <p class="money">
                            ￥158元
                        </p>
                    </div>

                </div>
                <div class="infotop" style="margin-left: 709px;margin-top:-282px;">
                    <div class="cityimg">
                        <img src="/img/jiudgz6.jpg">
                    </div>
                    <div class="cityinfo">
                        <p class="name">【贝奇家】</p>
                        <p class="scenic">
                            体育中心地铁一号线/花城汇正佳广场
                        </p>
                        <p class="money">
                            ￥267元
                        </p>
                    </div>

                </div>

            </div>
            <div class="hotmorez movel" style="display: none;top: 1984px;">
                <img src="/img/shouyezjt.png" alt="">
            </div>
            <div class="hotmorey mover" style="top: 1984px;">
                <img src="/img/shouyeyjt.png" alt="">
            </div>
        </div>

        <div>
            <div class="jdcity">
                <h1>精典旅游城市</h1>
            </div>
            <div class="jdinfo">
                <div class="jdimg">
                    <img src="/img/HongKong.jpg">
                </div>
                <div class="cityinfo" style="margin-left: 161px;">
                    <p class="name">香港</p>
                    <p class="scenic">
                        亚洲美食之都
                    </p>

                    <p class="money">
                        人均￥440/晚
                    </p>
                </div>
            </div>
            <div class="jdinfo" style="margin-top: -321px;margin-left:174px;">
                <div class="jdimg">
                    <img src="/img/Chiang-Mai7.jpg">
                </div>
                <div class="cityinfo" style="margin-left: 161px;">
                    <p class="name">清迈</p>
                    <p class="scenic">
                        泰国最文艺小城
                    </p>

                    <p class="money">
                        人均￥168/晚
                    </p>
                </div>
            </div>
            <div class="jdinfo" style="margin-top: -321px;margin-left:350px;">
                <div class="jdimg">
                    <img src="/img/London.jpg">
                </div>
                <div class="cityinfo" style="margin-left: 161px;">
                    <p class="name">伦敦</p>
                    <p class="scenic">
                        感受英伦风情
                    </p>

                    <p class="money">
                        人均￥354/晚
                    </p>
                </div>
            </div>
            <div class="jdinfo" style="margin-top: -321px;margin-left:526px;">
                <div class="jdimg">
                    <img src="/img/qm.jpg">
                </div>
                <div class="cityinfo" style="margin-left: 161px;">
                    <p class="name">普吉岛</p>
                    <p class="scenic">
                        东南亚看海
                    </p>

                    <p class="money">
                        人均￥360/晚
                    </p>
                </div>
            </div>
            <div class="jdinfo" style="margin-top: -321px;margin-left:699px;">
                <div class="jdimg">
                    <img src="/img/Los-Angeles.jpg">
                </div>
                <div class="cityinfo" style="margin-left: 161px;">
                    <p class="name">洛杉矶</p>
                    <p class="scenic">
                        好莱坞式繁华
                    </p>

                    <p class="money">
                        人均￥445/晚
                    </p>
                </div>
            </div>
            <div class="jdinfo" style="margin-top: -321px;margin-left:872px;">
                <div class="jdimg">
                    <img src="/img/Bali.jpg">
                </div>
                <div class="cityinfo" style="margin-left: 161px;">
                    <p class="name">巴厘岛</p>
                    <p class="scenic">
                        度蜜月的首选
                    </p>

                    <p class="money">
                        人均￥396/晚
                    </p>
                </div>
            </div>

        </div>

        <div>
            <div class="jcyj">
                <h1>精彩旅行游记</h1>
            </div>
            <div class="yjinfo">
                <div class="yjimg">
                    <img src="/img/gs1.jpg">
                </div>
                <div class="yjzz">
                    <img src="/img/jcgstx1.jpg">
                </div>
                <div class="allinfo">
                    <span class="title">北京</span>
                    <span class="info">
                        文青看了会疯，毗邻798艺术区的藏书阁民宿
                    </span>

                </div>
            </div>
            <div class="yjinfo" style="margin-top: -308px;margin-left:268px;">
                <div class="yjimg">
                    <img src="/img/gs2.jpg">
                </div>
                <div class="yjzz">
                    <img src="/img/jcgstx2.jpg">
                </div>
                <div class="allinfo" style="margin-left: -109px;">
                    <span class="title">北京</span>
                    <span class="info">
                        文青看了会疯，毗邻798艺术区的藏书阁民宿
                    </span>

                </div>
            </div>
            <div class="yjinfo" style="margin-top: -308px;margin-left:534px;">
                <div class="yjimg">
                    <img src="/img/gs3.jpg">
                </div>
                <div class="yjzz">
                    <img src="/img/jcgstx2.jpg">
                </div>
                <div class="allinfo" style="margin-left: 158px;">
                    <span class="title">北京</span>
                    <span class="info">
                        文青看了会疯，毗邻798艺术区的藏书阁民宿
                    </span>

                </div>
            </div>
            <div class="yjinfo" style="margin-top: -308px;margin-left:800px;">
                <div class="yjimg">
                    <img src="../img/gs4.jpg">
                </div>
                <div class="yjzz">
                    <img src="../img/jcgstx2.jpg">
                </div>
                <div class="allinfo" style="margin-left: 158px;">
                    <span class="title">北京</span>
                    <span class="info">
                        文青看了会疯，毗邻798艺术区的藏书阁民宿
                    </span>

                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <ul>
            <li>去旅行</li>
            <li><a href="">工作机会</a></li>
            <li><a href="">新闻</a></li>
            <li><a href="">政策</a></li>
            <li><a href="">帮助</a></li>
            <li><a href="">多元化归属感</a></li>
            <li><a href="">无障碍设施</a></li>
        </ul>
        <ul style="display: inline-block;">
            <li>发现</li>
            <li><a href="">信任与安全</a></li>
            <li><a href="">邀请好友</a></li>
            <li><a href="">商务差旅</a></li>
            <li><a href="">旅游指南</a></li>

        </ul>

    </div>
    <div id="gotoTop" style="display: none;">
        <img src="/img/gotoTop.png" style="width: 45px; height: 45px;">
    </div>
    <div class="ggao" id="cover">
            <img src="/img/gg2.png">
            <img src="/img/delet.png" style="width: 20px;height:20px;" id="delet">
    </div>
</body>
<script src="/javascripts/home1.js"></script>

</html>